.CenterMiddle{
    width: 1358px;
    height:100%;
 
    .CMTop{
        width: 1358px;
        height: 512px;
        background: #DCE0E8;
    }
    //上边的内容区，需要改变的地方   
    .TopContent{
        width: 1358px;
        height: 512px;
        //display: none;
    }
    //左边
      .CTLeft{
        width:390px;
        height: 512px;
        float: left;
        position: relative;
    .Detaildel{
        width: 98px;
        height: 132px;   
        position: absolute;
        top: 185px;
        left: 70px;
        li{
            line-height: 34px;
        }
    }   
    .DetailName{
        width: 126px;
        height: 132px;
        position: absolute;
        top: 185px;
        left: 190px;
        li{
            line-height: 34px;
        }
    }                    
  }
  //拍照中间
   .CTMiddle{
        width:540px;
        height: 512px;
        float: left;
        position: relative;
    .backgrounds{
        margin-top:80px;
    }
    .cameraPic{
        position: absolute;
        top: 194px;
        left: 234px;
        cursor: pointer;
    }
    .takePic{
        width: 194px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        background: #fff;
        cursor: pointer;
        position: absolute;
        top: 298.5px;
        left:174.5px ;
        outline: none;
        border: none;
    }
    .Nextone{
        width: 194px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        background: #fff;
        cursor: pointer;
        position: absolute;
        top: 356.5px;
        left:174.5px ;
    } 
  #video{
      position: absolute;
      top: 81px;
    //  display: none;
  }  
  #myCanvas{
      position: absolute;
      top: 81px;
      right: 0px;
  }       
}
//右边
     .CTRight{
         width:422px;
         height:512px;
         float: left;
         position: relative;
          .search{
              position: absolute;
              top: 74.5px;
              left: 96px;
              cursor: pointer;
          }
          .addUser{
              cursor: pointer;
              width: 193.5px;
              height: 168.5px;
              background: #fff;
              position: absolute;
              top: 268.5px;
              left: 96px;
              .adds{
                  position: absolute;
                  top: 34px;
                  left:63px ;
              }
              p{
                 position: absolute;
                 top: 123.5px;
                 left: 68.5px;                
                 color: #C8C8C8;
              }
          }  
     }
     //搜索样式
        .Searchother{
             position: absolute;
             top:160px;
             left:340px;
             width: 1000px;
             height: 147px;
             background: #fff;
             border-radius: 5px;
             box-shadow:2px 2px 2px #ccc; 
             display: none;
    .ant-input-search-icon{
            position: absolute;
            top:10px;
            right:-130px ;
            font-size: 50px;
        } 
        #sear_box{
          margin: 30px 0 0 37px;
         font-size: 40px;
         text-indent: 10px;
        }            
} 
//添加用户样式
.AddCustom{
    width:1243px ;
    height: 645px;
    background: #fff;
    position: absolute;                      
    top: 140px;
    left: 280px;
    z-index: 1;
    display: none;
    h1{
        font-size:36px;
        font-weight: 100;
        text-indent: 51px;
        line-height:136px ;
    }
    .AddCont{
        width: 1141px;
        height: 434px;
        border: 1px solid #ccc;
        margin-left: 51px;
        
    .ACLeft{
        width: 625px;
        height:100% ;
        box-sizing: border-box;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
        position: relative;
        top: 0;
        left: 0;
        float: left;
    .Backarea{
            position: absolute;
            top: 33px;
            left: 35px;
        }
    .LeftCema{
            position: absolute;
            top: 147px;
            left: 282px;           
        }
    .ClickName{
        width: 194px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 252px;
        left: 222px;
        cursor: pointer;
    }
   } 
 }
 .ACRight{
       width: 516px;
       height: 434px;
       position: absolute;
       right: 51px;
       p{
          width: 100% ;
          height: 80px;
          line-height: 80px;
          text-indent: 32px;
          border-bottom: 1px solid #ccc;
          input{
             width: 328px;
             height: 36px;
             font-size: 12px;
             outline: none;
             text-indent: 6px;
             margin-left: 20px;
          }
         .searchICon{
             width: 24px;
             height: 24px;
             cursor: pointer;
             position: absolute;
             top: 30px;
             right: 20px;
         }
         
       }
     .addCustom{
         margin: 56px 0 0 36px;
         input {
             width: 212px;
             height: 46px;
             box-sizing: border-box;
             //outline: none;
             background: #fff;
             color:#999 ;
             border: 1px solid #ccc;
             margin-right: 22px;
             cursor: pointer;
             outline: none;
         }
         input:hover{
             background: #1BB668;
             color: #fff;
         }
     }  
   }  
 
}




//下面用户列表
        .CMDown{
            width: 100%;
            height: 448px;
            background: #EDF0F7;
           
        .LeftStaus{
            width: 86px;
            height: 100%;
             float: left;      
            overflow:hidden;
         li{
            width: 86px;;
             height: 46px;
             line-height: 46px;
             border-bottom: 1px solid #D5D8DE; 
             position: relative;                                        
             img{                             
                vertical-align:middle;              
                margin-left: 30px;                                           
             }
             .points{
                 position: absolute;
                 top: 12px;
                 left:16px;
                 
             }
         }
         li:nth-of-type(1){
             background: #545CA6;
         }
       }
       .CustomList{
           width:1270px;
           height: 322px;
   
           float: left; 
          overflow: hidden;
         li{
            width: 100%;
            height: 46px;
            line-height: 46px;
            border-bottom: 1px solid #D5D8DE;  
             cursor: pointer;  
            th{
                width: 450px;
                text-align: center;
            } 
            th:nth-of-type(1){                             
               text-align: left;   
            }  
            th:nth-of-type(4){                             
             text-align: center;
             width: 240px;
            
            }                                                   
         } 
         li:nth-of-type(1){
             background: #545CA6;
             color: #fff;
         }      
       }
                  
     }
          
}
