* {
	margin: 0;
	padding: 0;
}

#login {
	width: 500px;
	height: 500px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.loginTop {
	width: 500px;
	height: 120px;
	overflow: hidden;
}

.loginTCont {
	width: 372px;
	height: 52px;
	margin: 33px 0 35px 43px;
}

.loginTCont img {
	float: left;
	margin: 8px 5px 0 0;
}

.loginTCont p {
	font-size: 18px;
	color: #0073B9;
}

.loginTCont h1 {
	font-size: 24px;
	color: #111;
	font-weight: 100;
}

.loginDown {
	width: 500px;
	height: 340px;
	background: #E3F1FF;
	overflow: hidden;
}

.downCont {
	width: 410px;
	height: 268px;
	margin: 0 auto;
	margin-top: 48px;
}

.username,
.psd {
	width: 358px;
	height: 30px;
	position: relative;
}

.username img,
.psd img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 5px;
}

.psd {
	margin-top: 42.5px;
}

#userBtn,
#psdBtn {
	width: 328px;
	height: 28px;
	background: #E3F1FF;
	line-height: 28px;
	border: none;
	text-indent: 5px;
	outline: none;
	border-bottom: 1px solid #ccc;
}

.remberUser {
	width: 328px;
	height: 28px;
	line-height: 28px;
	padding-top: 44px;
	color: #111111;
}

.remberUser img {
	float: left;
	cursor: pointer;
}

.remberUser span {
	float: left;
	font-size: 14px;
	margin-left: 10px;
}

#loginBtn {
	width: 408px;
	height: 46px;
	outline: none;
	border: 1px solid #95989A;
	color: #157BBB;
	background: #fff;
	cursor: pointer;
	margin-top: 56px;
	font-size: 18px;
}

#loginBtn:hover {
	border: 1px solid #00D5FF;
}

#userRight,
#pswright {
	width: 13px;
	height: 10px;
	position: absolute;
	top: 12px;
	right: 0;
	display: none;
}

.Userwaring,
.Userpswempty,
.Pswwaring,
.pswempty {
	font-size: 12px;
	line-height: 18px;
	color: #E64F4E;
	text-indent: 24px;
}
.Userwaring img,
.Userpswempty img,
.Pswwaring img,
.pswempty img {
	float: right;
}
.Userwaring,.Pswwaring{
	display: none;
}
.Userpswempty,.pswempty{
	display: none;
}
